.create-post-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

/* TOP NAV */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 1rem;
     width: 100%;
    max-width: 400px;
  
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;
    color: #1877f2;
}

.top-icons {
    display: flex;
    gap: 0.5rem;
}

.icon-btn {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    background: #e4e6eb;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.icon-btn svg {
    width: 20px;
    height: 20px;
}

/* CREATE POST BOX */
.create-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;

    background: white;
    padding: 0.6rem 1rem;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.create-post .left {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    flex: 1;
}

.create-post img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.create-post p {
    background: #f0f2f5;
    padding: 0.6rem 1rem;
    border-radius: 20px;
    width: 97%;
    cursor: pointer;
}

.create-post p:hover {
    background: #e4e6eb;
}

/* Image button */
.image-btn {
    border: none;
    background: transparent;
    cursor: pointer;
}

.image-btn svg {
    width: 24px;
    height: 24px;
}